@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 0 0 0;
  --white: 255 255 255;
  --muted-link: 144 144 144;

  --background: var(--black);
  --foreground: var(--white);
}
