@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 0 0 0;
  --black-muted: 36 36 36;
  --black-light: 48 48 48;
  --white: 255 255 255;
  --muted: 192 192 192;
  --muted-alt: 144 144 144;

  --background: var(--black);
  --foreground: var(--white);
  --muted-foreground: var(--muted);
  --muted-link: var(--muted-alt);
  --scrollbar-bg: var(--black-light);
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(var(--background));
  background: rgb(var(--foreground));
}

::selection {
  color: rgb(var(--background));
  background: rgb(var(--foreground));
}

/* Firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--scrollbar-bg)) transparent;
  }
}

/* Chrome, Edge, and Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(var(--scrollbar-bg));
    border-radius: 2px;
    border: 0px solid transparent;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--foreground));
  }
}
